@import "tailwindcss";

.font-name {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.logo {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.text-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nav-link {
  position: relative;
  padding-bottom: 5px;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

/* Sub-linha animada */
.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: white;
  border-radius: 9999px;
  transition: width 0.3s ease-in-out;
}

/* Hover — anima a entrada da linha */
.nav-link:hover::after {
  width: 100%;
}

/* Estado ativo/selecionado — linha permanente */
.nav-link.active::after {
  width: 100%;
}

/* Opcional: cor mais intensa no ativo */
.nav-link.active {
  color: #fff;
}

.hide-scroll {
  /* Oculta visualmente a barra de rolagem */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer e Edge antigo */
}

.hide-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari e Opera */
}



#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
